.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg;

  .home__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .home__products {
      display: flex;
      align-items: center;
      margin-left: 5em;

      & > * + * {
        margin-left: 3em;
      }

      .home__product {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        padding: 1em;
        border-radius: 15px;
        cursor: pointer;
        color: $primary-color;

        img {
          height: em(200);
          object-fit: contain;
        }

        > * + * {
          margin-top: 1em;
        }

        .home__productDetails {
          display: flex;
          justify-content: space-between;

          & > * + * {
            margin-left: 2em;
          }
        }
      }
    }
  }
}
