.product__details {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .product__detailsContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      font-size: 8rem;
      position: absolute;
      mix-blend-mode: difference;
      color: #5d5d5d;
    }

    .product__detailsImage {
      img {
        height: em(500);
        object-fit: contain;
      }
    }
  }
}
