@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  color: #000000;
}

:root {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.1rem;
}

h3 {
  font-size: 1rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f3f5;
}

.home .home__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .home__content .home__products {
  display: flex;
  align-items: center;
  margin-left: 5em;
}

.home .home__content .home__products > * + * {
  margin-left: 3em;
}

.home .home__content .home__products .home__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 1em;
  border-radius: 15px;
  cursor: pointer;
  color: #000000;
}

.home .home__content .home__products .home__product img {
  height: 12.5em;
  object-fit: contain;
}

.home .home__content .home__products .home__product > * + * {
  margin-top: 1em;
}

.home .home__content .home__products .home__product .home__productDetails {
  display: flex;
  justify-content: space-between;
}

.home .home__content .home__products .home__product .home__productDetails > * + * {
  margin-left: 2em;
}

.product {
  height: 100vh;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.product .product__image {
  display: grid;
  place-items: center;
  background-color: #f1f3f5;
}

.product .product__image img {
  height: 28.125em;
}

.product .product__details {
  display: grid;
  place-items: center;
}

.product .product__details a {
  color: #000000;
}

.product .product__details .product__detailsContainer {
  width: 70%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.product .product__details .product__detailsContainer .product__content {
  margin-top: 3em;
}

.product .product__details .product__detailsContainer .product__content > * {
  margin-bottom: 1em;
}

.product .product__details .product__detailsContainer .product__quantity {
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}

.product .product__details .product__detailsContainer .product__quantity p,
.product .product__details .product__detailsContainer .product__quantity h2 {
  font-size: 1.4rem;
}

.product .product__details .product__detailsContainer .product__quantity p span {
  display: inline-block;
  background-color: #f1f3f5;
  padding: 0.3em 0.7em;
  border-radius: 100vh;
  cursor: pointer;
}

.product .product__details .product__detailsContainer .product__quantity p span:first-of-type {
  margin-right: 0.2em;
}

.product .product__details .product__detailsContainer .product__quantity p span:nth-of-type(2) {
  margin-left: 0.2em;
}

.product .product__details .product__detailsContainer .product__buttons {
  margin-top: 2em;
}

.product .product__details .product__detailsContainer .product__buttons button {
  display: inline-block;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7em 2em;
}

.product .product__details .product__detailsContainer .product__buttons button:first-child {
  background: #2d89fa;
  color: #fff;
}

.product .product__details .product__detailsContainer .product__buttons > * + * {
  margin-left: 1em;
}
/*# sourceMappingURL=style.css.map */